.test {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .test div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(19, 18, 18);
    animation: test 1.2s linear infinite;
  }